
.nav-item a{
    color: #FFF ;
}

#mainbanner {
    margin-top: 75px;
}

.p-5.mb-4{
    background-image: url(../images/bg1.gif);
    background-size: 105%;
    background-position: center;
}

footer {
    background-image: url(../images/bg1.gif);
    background-size: 105%;
    background-position: center;
}